{% extends './usuario/usuario.html' %}
{% block title %} Publicar Residuo {% endblock %}
{% block cuerpo %}
<div class="container-fluid" style="width: 40%; height: 100%; margin-top: 2%; margin-bottom: 3%;">
    <form action="/crearpublicacion" class="form-control" method="post" enctype="multipart/form-data">
        <h2 style="color: #3a6317;"> Crear publicación </h2>
        <div class="form-group" style="width: 100%;">
            <label for="">Nombres de la publicacion: <input type="text" id="Nombre_Publicacion" class="form-input" name="Nombre_Publicacion" style="width: 100%;"></label>
        </div>
        <div class="form-group">
            <label for="Descripcion_Publicacion"> Descripcion de la publicación:
            <textarea name="Descripcion_Publicacion" id="Descripcion_Publicacion" class="form-input" rows="5" cols="50" style="width: 100%; height: 25%;">
            </textarea></label>
    
        </div>
        <div class="form-group" style="display: flex;">
            <label>Foto 1: <br> <input type="file" class="form-input" name="Foto1_Publicacion" accept=".image/*"
                    style="width: 100%;"></label>
        </div>
        <div class="form-group" style="display: flex;">
            <label>Foto 2: <br> <input type="file" class="form-input" name="Foto2_Publicacion" accept=".image/*"
                    style="width: 100%;"></label>
        </div>
        <div class="form-group" style="display: flex;">
            <label>Foto 3: <br> <input type="file" class="form-input" name="Foto3_Publicacion" accept=".image/*"
                    style="width: 100%;"></label>
        </div>
        <div>
            <label for=form-group"> Categoria:
                <select class="form-input" style="width: 95%;" name="Categoria_Publicacion">
                    <option value="0"> </option>
                    {% for categoria in categorias %}
                    <option value="{{categoria.ID_Categoria_de_Residuo}}">{{ categoria.Nombre_de_Categoria }}</option>
                    {% endfor %}
                </select></label>
        </div>
        <div class="form-group" style="width: 100%;">
            <label for="Precio">Precio: <input type="text" id="Precio" class="form-input" name="Precio" style="width: 100%;"></label>
        </div>

        <div class="form-group">
            <button class="btn-login" type="submit">Crear publicación</button>
        </div>

</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert"
        style="margin-left: 6%; margin-right: 6%; margin-bottom: 3%;">
        <strong>¡Base modificada con exito!</strong>
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

{% endblock %}
