{% extends './usuario/usuario.html' %}
{% block title %} Perfil Usuario {% endblock %}
{% block cuerpo %}
    <div class="editar" style="margin: 3%;">
        <form class="editar-form" method="POST" enctype="multipart/form-data"
            action="{{ url_for('editar_persona', id=id_usuario) }}">
            <h5 style="text-align: center;">Actualizar datos</h5>
            <label for="Nombres">Nombres:</label>
            <input class="form-input1" type="text" id="Nombres" name="Nombres" value="{{ usuarios.Nombres }}"
                required><br>

            <label for="Apellidos">Apellidos:</label>
            <input class="form-input1" type="text" id="Apellidos" name="Apellidos" value="{{ usuarios.Apellidos }}"
                required><br>

            <label for="Documento">Documento:</label>
            <input class="form-input1" type="text" id="Documento" name="Documento" value="{{ usuarios.Documento }}"
                required><br>

            <label for="Email">Email:</label>
            <input class="form-input1" type="email" id="Email" name="Email" value="{{ usuarios.Email }}" required><br>

            <label for="Telefono">Teléfono:</label>
            <input class="form-input1" type="text" id="Telefono" name="Telefono" value="{{ usuarios.Telefono }}"><br>

            <label for="direccion">Dirección:</label>
            <input class="form-input1" type="text" id="direccion" name="direccion" value="{{ usuarios.direccion }}"><br>

            <input class="btn" style="border: solid 1px black;" type="submit" value="Guardar cambios">
        </form>
    </div>

{% endblock %}