{% extends './usuario/usuario.html' %}
{% block title %} Mis compras {% endblock %}
{% block cuerpo %}

<div class="container" style="margin-top: 2%;">
    <h1 style="background-color: rgba(211, 211, 211, 0.5); text-align: center;">MIS COMPRAS</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert"
        style="margin-left: 24%; margin-right: 6%; margin-bottom: 1%; max-width: 600px;">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% for compra in compras %}
    <div class="row justify-content-center">
        <div class="card mb-3" style="width: 650px; min-height: 300px;">
            <div class="row g-0">
                <div class="col-md-4" style="max-width: 250px;">
                    {% with urlPublicacion = '/static/uploads/' %}
                    {% if(compra['foto1_publicacion'] =="") %}
                    <img src="../../../static/uploads/sinfoto.png" class="sin_foto_mini" alt="sinfoto">
                    {% else %}
                    <img src="{{ url_for('static', filename='uploads/' + compra['foto1_publicacion'].decode('utf-8') ) }}"
                        class="sin_foto_mini" alt="{{ compra['nombre_publicacion'] }}"
                        style="margin-top: 25%; width: 150px; height: 140px;">
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ compra['nombre_publicacion'] }}</h5>
                        <p class="card-text">Id_Compra : {{ compra['id_compra'] }} <br> Comprador: {{
                            compra['nombre_comprador']
                            }} <br>
                            Vendedor: {{ compra['nombre_vendedor'] }} <br>
                            Telefono vendedor: {{ compra['telefono_vendedor'] }} <br>
                            Dirección vendedor: {{ compra['direccion_vendedor'] }} <br>
                            {% if(compra['estado_compra'] == 1) %}
                            Estado: Activo
                            {% else %}
                            Estado: Completado
                            {% endif %}
                        </p> <br>
                        <button type="button" class="btn" style="border: solid 1px #3a6317;" data-bs-toggle="modal"
                            data-bs-target="#exampleModal{{ compra['id_compra'] }}">Cambiar estado</button>
                        <div class="modal fade" id="exampleModal{{ compra['id_compra'] }}" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true"
                            style="max-width: 600px; margin-left: 28%;">
                            <div class="modal-dialog modal-dialog-centered modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">¿Tu compra fue compleatada
                                            con
                                            exito?</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body justify-content-center">
                                        <h5>Recuerda que si cambias el estado nos confirmas que la compra se completo de
                                            no ser así y si tienes algún inconveniente, envía una solicitud con el id de
                                            la compra</h5>
                                        <form action="{{ url_for('confirmar_compra', id_compra=compra.id_compra) }}"
                                            method="POST">
                                            <div style="display: flex;">
                                                <div>
                                                    <select class="btn" style="width: 95%; border: solid 1px #3a6317;"
                                                        id="estado" name="estado">
                                                        <option value="" disabled selected hidden>Seleccione</option>
                                                        <option value="1">Activo</option>
                                                        <option value="0">Completado</option>
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="/solicitudes" class="btn" style=" border: solid 1px black;">Enviar
                                            solicitud</a>
                                        <button type="submit" class="btn" style=" border: solid 1px #3a6317;">Cambiar
                                            estado</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <a href="eliminar_compra/{{ compra['id_compra'] }}" class="btn"
                            style=" border: solid 1px #3a6317;">Eliminar compra</a>

                        {% if(compra['estado_compra'] == 1) %}
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            <i class="bi bi-chat-dots-fill" style="color:#3a6317;"></i>
                        </button>
                        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true" style="overflow: auto;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Envia tu mensaje</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        {% if mensajes %}
                                        {% for mensaje in mensajes %}
                                        <div style="border: solid 1px black;">
                                            <p>{{ mensaje }}</p>
                                        </div>
                                        {% endfor %}
                                        {% endif %}
                                        <hr>
                                        <form id="formEnviarMensaje" action="/enviar_mensaje" method="POST">
                                            <input type="hidden" name="id_compra" id="id_compra"
                                                value="{{ compra['id_compra'] }} ">
                                            <textarea name="mensaje" id="mensaje" rows="4"
                                                style="min-width: 400px; max-height: 40px; overflow: auto;"></textarea>
                                            <br>
                                            <button class="btn" style=" border: solid 1px #3a6317;" type="submit">Enviar
                                                Mensaje</button>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <p></p>
                        {% endif %}


                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>

{% endblock %}