{% extends './usuario/usuario.html' %}
{% block title %} Mis publicaciones {% endblock %}
{% block cuerpo %}


<div class="container" style="margin-top: 2%; min-height: 300px;">
    <h1 style="background-color: rgba(211, 211, 211, 0.5); text-align: center;">MIS PUBLICACIONES</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert"
        style="margin-left: 24%; margin-right: 6%; margin-bottom: 1%; max-width: 600px;">
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% for publicacion in publicaciones %}
    <div class="row justify-content-center">
        <div class="card mb-3" style="width: 650px;">
            <div class="row g-0">
                <div class="col-md-4" style="max-width: 250px;">
                    {% with urlPublicacion = '/static/uploads/' %}
                    {% if(publicacion['Foto1_Publicacion'] =="") %}
                    <img src="../../../static/uploads/sinfoto.png" class="sin_foto_mini" alt="sinfoto">
                    {% else %}
                    <img src="{{ url_for('static', filename='uploads/' + publicacion['Foto1_Publicacion'].decode('utf-8') ) }}"
                        class="sin_foto_mini" alt="{{ publicacion['Nombre_Publicacion'] }}"
                        style="margin-top: 25%; width: 150px; height: 140px;">
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ publicacion['Nombre_Publicacion'] }}</h5>
                        <p class="card-text">Id_Publicación : {{ publicacion['id_publicacion'] }}<br> Descripción
                            publicacion: {{ publicacion['Descripcion_Publicacion'] }} <br>
                            Categoria: {{ publicacion['categoria']}} <br> Precio: {{ publicacion['Precio']}} <br>
                        </p> <br>

                        <a href="eliminarpublicacion/{{ publicacion['id_publicacion'] }}" class="btn"
                        style=" border: solid 1px #3a6317;">Eliminar
                        Publicación</a>
                    </div>
                    {% for compra in compras %}
                    {% if compra['estado_compra'] == 1 %}
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <i class="bi bi-chat-dots-fill" style="color:#3a6317;"></i>
                    </button>
                    {% else %}
                    <p></p>
                    {% endif %}
                    {% endfor %}
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}