{% extends './usuario/usuario.html' %}
{% block title %} Solicitudes {% endblock %}
{% block cuerpo %}
<div class="container"
    style="width: 40%; min-height: 400px; display: flex;flex-direction: column; background-color: #fff; margin: 5% 30% 5%;">
    <h1 style="text-align: center; color: #3a6317;">Tu solicitud</h1>
    <form action="" method="post">
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Descripción de solicitud: </label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
                style="max-height: 250px; min-height: 250px; overflow: auto;" maxlength="50000"
                required></textarea>
        </div>
        <div>
            <button type="submit" class="btn" style="margin-left: 36%; border: solid 1px #3a6317;">Enviar solicitud</button>
        </div>
    </form>
</div>
{% endblock %}