{% extends 'inicio.html' %}
{% block title %} Inicio Usuario {% endblock %}
{% block nav %} 
<nav class="navbar" style="background-color: white;">
    <div class="container-fluid">
        <div class="col box_title" style="margin-left: 10px;">
            <a href="/usuario" style="text-decoration: none;">
                <h3 class="title"><i class="bi bi-globe-americas"></i> GreenSoftWorld</h3>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    Menú</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/crearpublicacion">Publicar</a>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 80%;">
                <a href="/logout'" type="button" class="btn btn-light"><i class="bi bi-box-arrow-left"></i> Salir </a>
            </div>
        </div>
    </div>
</nav> 
{% endblock %}