{% extends 'inicio.html' %}
{% block title %} Inicio Usuario {% endblock %}
{% block nav %} 
<nav class="navbar" style="background-color: white;">
    <div class="container-fluid">
        <div class="col box_title" style="max-width: 200px;">
            <a href="/usuario" style="text-decoration: none;">
                <h3 class="title"><i class="bi bi-globe-americas"></i> GreenSoftWorld</h3>
            </a>
        </div>
        <div class="menu-principal">
            <div style="margin-left: -50px;">
                <div class="buscar">
                    <form action="/buscar" method="GET">
                        <input type="text" class="busqueda" name="q" placeholder="   Buscar...">
                        <button type="submit"><i class="bi bi-search"></i></button>
                    </form>
                </div>
                <div class="menu"  style="margin-left: 20%;">
                    <a class="nav-link active a" aria-current="page" href="/catalogo">Cátalogo</a>
                    <a class="nav-link c" href="#">Ayuda/PQR</a>
                </div>
            </div>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                    Menú</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div style="display: flex; align-items: center; flex-direction: column; font-size: 35px;">
                <a href="/perfilu" style="text-decoration: none; color: #3a6317;"><i class="bi bi-person-circle"></i></a>
                <a href="/perfilu" style="text-decoration: none; color: #3a6317;">Perfil</a>
            </div>
            <hr style="width: 90%; margin-left: 5%; color: black; margin-bottom: 0;">
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/crearpublicacion">Mis solicitudes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/crearpublicacion">Crear publicación</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/crearpublicacion">Mis compras</a>
                    </li>
                </ul>
            </div>
            <div style="margin-top: 80%;">
                <a href="/logout" type="button" class="btn btn-light"><i class="bi bi-box-arrow-left"></i> Salir </a>
            </div>
        </div>
    </div>
</nav> 
{% endblock %}