{% extends 'inicio.html' %}
{% block title %} Inicio Administrador {% endblock %}
{% block nav %} 
<nav class="navbar" style="background-color: white;">
    <div class="container-fluid">
        <div class="col box_title" style="margin-left: 10px;">
            <a href="/administrador" style="text-decoration: none;">
                <h3 class="title"><i class="bi bi-globe-americas"></i> GreenSoftWorld</h3>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menú de tareas</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div class="baseusu">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Usuarios
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/basedeusuarios">Ver Usuarios</a></li>
                                <li><a class="dropdown-item" href="/crearusuario">Crear Usuario</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="baseusu">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Publicaciones
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/categorias">Categorias</a></li>
                                <li><a class="dropdown-item" href="#">Crear Publicaciones</a></li>
                                <li><a class="dropdown-item" href="#">Editar Publicaciones</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div style="margin-top: 100%;">
                    <a href="/" type="button" class="btn btn-light"><i class="bi bi-box-arrow-left"></i> Salir </a>
                </div>
            </div>
        </div>
    </div>
</nav> 
{% endblock %}