body {
    margin: 0;
    padding: 0;
    background-image: url(../static/img/hojas.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden; 
}

nav {
    width: 100%;
}

.firts_box {
    display: flex;
    justify-content: space-between;
    width: auto;
    height: 80px;
    border-bottom: solid 1px #3a6317;
    background-color: white;
}

.menu-principal {
    margin-top: 1%;
    width: 500px;
}
.busqueda {
    margin-left: 10%;
    width: 60%;
    height: 30px;
    border-radius: 10px;
    border: solid 1px #3a6317;
}
.buscar button {
    border: none;
    background-color: white;
}
.buscar button:hover {
    color: white;
    background-color: #3a6317;
}
.menu {
    display: flex;
}

.menu a {
    margin-right: 4%;
    margin-top: 1%;
    text-align: center;
    color: #3a6317;
}

.menu a:hover {
    background-color: #3a6317;
    color: white;
}

.a {
    margin-left: 10%;
}


.box_title {
    padding: 25px 0;
}

.title{
    margin-left: 20px;
    font-size: 20px;
    color: #3a6317;
}


.title i {
    font-size: 22px;
}

.titlefooter {
    margin-left: 20px;
    font-size: 20px;
    color: white;
}
.titlefooter i {
    font-size: 22px;
}

.boxLenguaje {
    padding: 10px;
}

.box_lenguaje_register_login {
    display: flex;
    width: 50%;
    padding: 10px;
}

.buttonRegister {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px #3a6317;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: #3a6317;
    margin-right: 4px;
    text-decoration: none;
}

.buttonLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: solid 1px #3a6317;
    outline: none;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    color: #3a6317;
    margin-right: 4px;
    text-decoration: none;
}
.buttonRegister i {
    font-size: 2rem;
    margin-right: 5px;
}

.buttonRegister:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}


.buttonLogin:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.buttonLogin i {
    font-size: 2rem;
    margin-right: 5px;
}

.form_login {
    margin-top: 4%;
    margin-bottom: 8%;
    margin-left:  35%;
    background-color: white;
    width: 300px;
    height: 330px;
    border: solid 0.2px #befc88;
    text-align: center;
    h2 {
        margin-top: 3%;
        color:#3a6317;
    }
    a {
        text-decoration: none;
        color: #3a6317;
    }
}

.form label{
    color: #3a6317;
    font-weight: bold;
    display: block;
    font-size: 15px;
}

.form-input {
    border: solid 0.2px #befc88;
    margin-top: 5%;
    margin-bottom: 1%;
    height: 35px;
    width: 92%;
    border-radius: 5px;
}


.btn_reg {
    background-color: #3a6317;
    border: solid 1px #3a6317;
    border-radius: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 19%;
    color: white;
    width: 130px;
    height: 35px;
    padding: 3px;
    text-decoration: none;
    text-align: center;
}

.btn_reg:hover {
    color: #3a6317;
    background-color: white;
    cursor: pointer;
}

.btn-login {
    background-color: #3a6317;
    border: solid 1px #3a6317;
    border-radius: 30px;
    margin-top: 4%;
    margin-bottom: 4%;
    color: white;
    width: 130px;
    height: 35px;
    padding: 3px;
    text-align: center;
    text-decoration: none;

}

.btn-login:hover {
    color: #3a6317;
    background-color: white;
    cursor: pointer;
}


.carrusel {
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-left: 1%;
    width: 100%;
    height: 350px;
    background-color: white;
}

.carrusel img {
    margin-top: 2%;
    margin-left: 12%;
    height: 300px;
    width: 980px;
    background-color: white;
}


.noticias {
    margin-top: 1%;
    margin-left: 4%;
}

.site-footer {
    padding-top: 3%;
    width: 100%;
    height: 7%;
    background-color: #3a6317;
    text-align: center;
}

.site-footer h4 {
    color: white;
    font-size: 18px;
    margin-bottom: 20px;
}

.site-footer p {
    color: #666;
    font-size: 14px;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    display: inline;
    margin-right: 10px;
}

.footer-links li a {
    color: #666;
    text-decoration: none;
}

.footer-links li a:hover {
    color: #333;
}

.redirec1 {
    margin: 0%;
    height: 100%;
    text-align: center;
    background-color:#3a6317; 
}

.redirec {
    text-decoration: none; 
    color: white;
}

.redirec:hover {
    text-decoration: none; 
    color: #020500;
    cursor: pointer
}


.politicas  i {
    color: #3a6317;
    font-size: 100px;
    text-align: center;
}

.categorias {
    margin-left: 8.2%;
    text-align: center;
    margin-top: 1%;
    background-color: white;
    width: 80%;
    border-radius: 2%;
    border: solid 0.1px rgb(179, 177, 177);
}

.creacion {
    display: flex;
} 

.tabla_u {
    background-color: white;
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.tabla_u table {
    width: auto;
    border: 1px solid #3a6317;
    border-collapse: collapse;
}

.tabla_u th,
.tabla_u td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #3a6317;
}

.tabla_u th {
    background-color: #cde6b7;
}


.tabla_u a {
    margin-right: 5px;
}

.tabla_u a:hover {
    background-color: #99b198;
}

