{% extends 'inicio.html' %}
{% block title %} Catálogo {% endblock %}
{% block cuerpo %}

<div style="display: flex;">

    <div style="display: flex; width: 18%; background-color: white; min-height: 100%;">
        <div>

            <h3 style="margin-left: 60%; margin-top: 9%; color: #3a6317;"> Filtros </h3> <br>
            {% for catalogo in catalogos %}
            <div class="form-check" style="margin-left: 30%;">
                <input class="form-check-input" type="checkbox" value="{{catalogo.ID_Categoria_de_Residuo}}"
                    id="flexCheckIndeterminate {{catalogo.ID_Categoria_de_Residuo}}">
                <label class="form-check-label" for="flexCheckIndeterminate {{catalogo.ID_Categoria_de_Residuo}}">
                    {{catalogo.Nombre_de_Categoria}}
                </label>
            </div>
            {% endfor %}
        </div>
    </div>
    <div style="margin-left: 3%;">
        <div style="background-color: rgba(211, 211, 211, 0.5);">
            <h2 style="margin-left: 40%; color: #3a6317;"> Catálogo </h2>
        </div>
        <div class="row">
            {% for publicacion in publicaciones %}
            <div class="col-md-4">
                <div class="card mb-3">
                    {% if(publicacion.Foto1_Publicacion =="") %}
                    <img src="../../../static/uploads/sinfoto.png" class="sin_foto_mini img-fluid mx-auto d-block"
                        alt="sinfoto" style="width: 150px; height: 150px;">
                    {% else %}
                    <img src="{{ url_for('static', filename='uploads/' + publicacion.Foto1_Publicacion.decode('utf-8') ) }}"
                        class="sin_foto_mini img-fluid mx-auto d-block" alt="{{ publicacion.Nombre_Publicacion }}"
                        style="width: 150px; height: 150px;">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ publicacion.Nombre_Publicacion }}</h5>
                        <p class="card-text">Vendedor: {{ publicacion.persona }}</p>
                        <p class="card-text">Categoria: {{ publicacion.categoria }}</p>
                        <p class="card-text">Precio: {{ publicacion.Precio }}</p>
                        <a href="" type="button" data-bs-toggle="collapse"
                            data-bs-target="#collapse{{ publicacion.id_publicacion }}" aria-expanded="false"
                            aria-controls="collapse{{ publicacion.id_publicacion }}" class="btn-login">Detalles aquí</a> <br>
                        <div style="height: 1px;">
                            <div class="collapse collapse-horizontal" id="collapse{{ publicacion.id_publicacion }}" style="position: absolute; z-index: 999;">
                                <div class="card card-body">
                                    <p style="color: #3a6317;">
                                        Para conocer más sobre este producto, <a href="/registrogsw"> Registrate </a> o
                                        <a href="/iniciogsw">inicia sesión</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>

        </div>


    </div>
</div>
{% endblock %}