{% extends 'inicio.html' %}
{% block title %} Inicia sesión {% endblock %}
{% block botones %}
    <h1></h1>
{% endblock %}
{% block cuerpo %}
<div class="container-fluid" style="width: 22%; height: 100%; margin-top: 6%; margin-bottom: 5%;">
<form action="" class="form-control form_login">
    <h2 style="color: #3a6317; text-align: center;"> Inicia sesión </h2>
    <div class="username">
        <label for="username">Correo: <input type="text" id="documento"
                class="form-control"></label>
    </div>
    <div class="password">
        <label for="password">Contraseña: <input id="password" type="password"
                class="form-control"></label>
    </div>
    <a href="" class="btn-login" type="submit">Iniciar</a> <br>
    <a href="/registrogsw" style="color: #3a6317; text-decoration: none;">¿Aún no tienes cuenta? <br> Registrate</a> <br>
    <a href="" style="color: #3a6317; text-decoration: none;">¿Olvidaste tu contraseña?</a>

</form>
</div>

{% endblock %}