{% extends 'inicio.html' %}
{% block title %}Registrate{% endblock %}

{% block botones %}
<h1></h1>
{% endblock %}

{% block cuerpo %}

<div class="container-fluid" style="width: 40%; height: 100%; margin-top: 2%; margin-bottom: 3%;">
    <form action="/registrogsw" class="form-control" method="post" enctype="multipart/form-data"
        onsubmit="return validarFormulario()">
        <h2 style="color: #3a6317;"> Registrate </h2>
        <div class="form-group" style="display: flex;">
            <label for="Nombres">Nombres: <input type="text" id="Nombres" class="form-input" name="Nombres"
                    pattern="[A-Za-z\s]{1,50}" title="Solo se permiten letras y espacios, máximo 50 caracteres"
                    required></label>
            <label for="Apellidos">Apellidos: <input type="text" id="Apellidos" class="form-input" name="Apellidos"
                    pattern="[A-Za-z\s]{1,50}" title="Solo se permiten letras y espacios, máximo 50 caracteres"
                    required></label>
        </div>
        <div class="form-group" style="display: flex;">
            <label for=""> Tipo de documento:
                <select class="form-input" style="width: 95%;" id="tipoDocumento" name="tipo" required>
                    <option value="" disabled selected hidden>Seleccione</option>
                    {% for tipo in tipos %}
                    <option value="{{tipo.Id_Tipo_de_Documento}}">{{ tipo.Tipo_de_documento }}</option>
                    {% endfor %}
                </select></label>
            <label for="">Número de documento: <input type="int" id="documento" class="form-input" name="Documento"
                    style="margin-left: 3%; margin-top: 3%;" pattern="[0-9]{1,30}" maxlength="30" title="Solo se permiten números, máximo 30 caracteres y no se permiten espacios" required></label>
        </div>
        <div class="form-group" style="display: flex;">
            <label for="">Email: <input type="email" id="email" class="form-input" name="Email" pattern="[^\s@]+@[^\s@]+\.[^\s@]+" title="Formato no valido" required></label>
            <label> Telefono: <input type="text" class="form-input" name="Telefono" pattern="[0-9]{1,10}" maxlength="10" title="Solo se permiten números, máximo 10 caracteres y no se permiten espacios" required> </label>
        </div>
        <div class="form-group" style="display: flex;">
            <label>Foto de perfil: <br> <input type="file" class="form-input" id="foto" name="foto" accept="image/jpeg, image/png, image/jpg"
                    style="width: 85%;" required></label>
            <label>Dirección: <input type="text" class="form-input" id="direccion" name="direccion"
                    style=" width: 100%; margin-left: -10%;" required> </label>
        </div>

        <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" id="password" class="form-input" name="Password" pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*])[A-Za-z\d!@#$%^&*]{6,15}" title="Debe contener al menos: una mayúscula una minúscula un número un carácter especial una longitud entre 6 y 15 caracteres" required>
        </div>
        <div class="form-group">
            <button class="btn-login" type="submit">Registrate</button>
        </div>

</div>

{% endblock %}