{% extends './administrador/administrador.html' %}
{% block title %} Base De Usuarios {% endblock %}
{% block cuerpo %}
<div class="Mostrar usuarios">
    <div class="tabla_u">
        <table style="background-color: white;">
            <thead>
                <tr>
                    <td>Nombres</td>
                    <td>Apellidos</td>
                    <td>Tipo de documento</td>
                    <td>Documento</td>
                    <td>Email</td>
                    <td>Telefono</td>
                    <td>Dirección</td>
                    <td>Contraseña</td>
                    <td>Foto</td>
                    <td>Roles</td>
                    <td>operaciones</td>
                </tr>
            </thead>
            <tbody>
                {% for persona in personas %}
                <tr>
                    <td>{{ persona.Nombres }}</td>
                    <td>{{ persona.Apellidos }}</td>
                    <td>{{ persona.tipo_documento }}</td>
                    <td>{{ persona.Documento }}</td>
                    <td>{{ persona.Email }}</td>
                    <td>{{ persona.Telefono }}</td>
                    <td>{{ persona.direccion }}</td>
                    <td>{{ persona.Password }}</td>

                    {% with urlPersona = '/static/uploads/' %}
                    <td>
                        {% if(persona.foto =="") %}
                        <img src="../../../static/uploads/sinfoto.png"  class="sin_foto_mini" alt="sinfoto">
                        {% else %}
                        <img src="{{ url_for('static', filename='uploads/' + persona.foto.decode('utf-8') ) }}" class="sin_foto_mini" alt="{{ persona.Nombres }}" style="width: 50px; height: 50px; border-radius: 50%;">
                        {% endif %}
                    </td>
                    {% endwith %}
                    <td>{{ persona.roles }}</td>
                    <td>
                        <a href="{{ url_for('editar_persona', id = persona.Id_Persona) }}">Editar Usuario</a>
                        <a href="eliminar/{{ persona.Id_Persona }}">Eliminar usuario</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}

    <div class="alert alert-warning alert-dismissible fade show" role="alert"
        style="margin-left: 6%; margin-right: 6%; margin-bottom: 3%;">
        <strong>¡Base modificada con exito!</strong>
        <p>{{ message }}</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

{% endblock %}