{% extends './administrador/administrador.html' %}
{% block title %} Crear usuario {% endblock %}
{% block cuerpo %}
<div class="container-fluid" style="width: 40%; height: 100%; margin-top: 2%; margin-bottom: 3%;">
    <form action="/crearusuario" class="form-control" method="post" enctype="multipart/form-data">
        <h2 style="color: #3a6317;"> Crear usuario </h2>
        <div class="form-group" style="display: flex;">
            <label for="">Nombres: <input type="text" id="Nombres" class="form-input" name="Nombres"></label>
            <label for="">Apellidos: <input type="text" id="Apellidos" class="form-input" name="Apellidos"></label>
        </div>
        <div class="form-group" style="display: flex;">
            <label for=""> Tipo de documento:
                <select class="form-input" style="width: 95%;" name="tipo">
                    <option value="0"> </option>
                    {% for tipo in tipos %}
                    <option value="{{tipo.Id_Tipo_de_Documento}}">{{ tipo.Tipo_de_documento }}</option>
                    {% endfor %}
                </select></label>
            <label for="">Número de documento: <input type="int" id="documento" class="form-input" name="Documento"
                    style="margin-left: 3%; margin-top: 3%;"></label>
        </div>
        <div class="form-group" style="display: flex;">
            <label for="">Email: <input type="email" id="email" class="form-input" name="Email"></label>
            <label> Telefono: <input type="text" class="form-input" name="Telefono"> </label>
        </div>
        <div class="form-group" style="display: flex;">
            <label>Foto de perfil: <br> <input type="file" class="form-input" name="foto" accept=".image/*"
                    style="width: 85%;"></label>
            <label>Dirección: <input type="text" class="form-input" name="direccion"
                    style=" width: 100%; margin-left: -10%;"> </label>
        </div>

        <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" class="form-input" name="Password">
        </div>
        <div class="form-group">
            <p> Roles:</p>
            <div class="form-check">
                <input class="form-check-input" name="roles[]" type="checkbox" value="1" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Administrador
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="roles[]" type="checkbox" value="2" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Moderador
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="roles[]" type="checkbox" value="3" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Comprador
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" name="roles[]" type="checkbox" value="4" id="flexCheckIndeterminate">
                <label class="form-check-label" for="flexCheckIndeterminate">
                    Vendedor
                </label>
            </div>
        </div>
        <div class="form-group">
            <button class="btn-login" type="submit">Crear usuario</button>
        </div>

</div>
{% endblock %}