{% extends './administrador/administrador.html' %}
{% block title %} Editar usuario {% endblock %}
{% block cuerpo %}
<div class="editar" style="margin: 3%;">
    <form method="POST" class="editar-form" enctype="multipart/form-data" action="{{ url_for('editar_persona', id=id_usuario) }}">
        <h5 style="text-align: center;">Actualizar datos</h5>
        <label for="Nombres">Nombres:</label>
        <input type="text" class="form-input1" id="Nombres" name="Nombres" value="{{ usuario.Nombres }}" required><br>
    
        <label for="Apellidos">Apellidos:</label>
        <input type="text" class="form-input1" id="Apellidos" name="Apellidos" value="{{ usuario.Apellidos }}" required><br>
    
        <label for="Documento">Documento:</label>
        <input type="text" class="form-input1" id="Documento" name="Documento" value="{{ usuario.Documento }}" required><br>
    
        <label for="Email">Email:</label>
        <input type="email" class="form-input1" id="Email" name="Email" value="{{ usuario.Email }}" required><br>
    
        <label for="Telefono">Teléfono:</label>
        <input type="text" class="form-input1" id="Telefono" name="Telefono" value="{{ usuario.Telefono }}"><br>
    
        <label for="direccion">Dirección:</label>
        <input type="text" class="form-input1" id="direccion" name="direccion" value="{{ usuario.direccion }}"><br>
    
        <input class="btn" style="border: solid 1px black;" type="submit" value="Guardar cambios">
    </form>
</div>
{% endblock %}